*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-custom {
    background-color: #ffffff;
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: white;
}

.movie-poster {
    height: 300px;
    object-fit: cover;
}

.movie-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

.movie-footer {
    text-align: center;
    padding: 10px;
}

.currently-showing {
    margin-top: 20px;
}
/* Slide animation */
.body-slider{
    background-color: aqua;
    position: relative;
    margin-top: 30vh;
}

/* Perbesar ukuran container slide */
.container-slide{
    width: 160vmin; /* Lebar menjadi 2x dari sebelumnya */
    height: 50vmin; /* Tinggi yang proporsional dengan lebar */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    overflow: hidden;
    border-radius: 10px;
    border: 40px solid #ffffff;
    box-shadow: 0px 5px 10px 5px rgba(30, 30, 200, 0.3);
}

.wrapper{
    display: flex;
    animation: slide 16s infinite;
}

img {
    border-radius: 10px;
    width: 50%;
}
    


@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-10%);
    }
}

/* Container tayang */
.container-tayang{
    top: 30vh;
    position: relative;
    justify-content: center;
}